---
import Footer from "../components/Footer.astro";

import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="meta" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <meta property="og:title" content="Kevin litardo's Portfolio" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/portfolio.webp" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-950">
    <div
      class="absolute inset-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: "Onest", system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  @media (prefers-reduced-motion: reduced) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
